// color
$color-primary: #444cf7;
$color-primary-light: #787eff;
$color-primary-dark: #2932f8;
$color-primary-darker: #24285b;

$color-purple: #654fef;
$color-blue: #05e4f7;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #d1d1d1;

$color-grey-dark: #777;
$color-grey-dark-1: #939393;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #323232;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
